select {
	border: 1px solid #ccc;
	font-size: 1.5em;
}

.help {
	float: right;
	min-width: 100px;
	max-width: 500px;
}

#hud {
	margin-top: 0.5em;
}

.clearfix {
	display: inline-block;
	width: 100%;
}

.key {
	min-width: 2em;
}

.key-no-data {
	background-color: #ccc;
}

.key-low {
	background-color: rgb(243, 218, 10);
}

.key-med {
	background-color: rgb(235, 141, 0);
}

.key-high {
	background-color: rgb(242, 35, 26);
}
